{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div id="flash-message-div" class="flash-message-div alert
    {% if category and category != 'message' %}{{ category }}{% else %}alert-info{% endif %}
    ">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <span style="padding-right: 20px;">{{ message }}</span>
</div>
<script>
var fade_out = function() {
    $("#flash-message-div").fadeOut().empty();
}
setTimeout(fade_out, 5000);
</script>
{% endfor %}
{% endif %}
{% endwith %}